<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="local_joint_control_type" default=""/>
  <arg name="ns" default=""/>
  <arg name="local_joint_control" default="direct_position_control"/>
  <arg name="controller_pkg_name" default="tiago_controller_configuration"/>
  <arg name="control_torso" default="true"/>

  <!-- Load controlled joint list configuration-->
  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_1_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_2_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_3_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_4_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_5_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_6_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="arm_7_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="head_1_joint"/>
  </include> 

  <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="head_2_joint"/>
  </include>

  <group if="$(arg control_torso)">
    <include file="$(find pal_local_joint_control)/launch/$(arg local_joint_control).launch" >
      <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
      <arg name="ns" value="$(arg ns)"/>
      <arg name="joint_name" value="torso_lift_joint"/>
    </include>
  </group>

  <group unless="$(arg control_torso)">
    <include file="$(find pal_local_joint_control)/launch/no_control.launch" >
      <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
      <arg name="ns" value="$(arg ns)"/>
      <arg name="joint_name" value="torso_lift_joint"/>
    </include>
  </group> 

</launch>
