<launch>

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch"/>
    <include file="$(find gz_arena_bringup)/launch/turtlebot3_navigation.launch"/>
    <include file="$(find gz_arena_bringup)/launch/turtlebot3_gazebo_rviz.launch"/>

    <!-- Pedsim -->
    <arg name="enable_pedsim" default="true"/>
    <arg name="simulation_factor" default="1"/>
    <arg name="pedsim_update_rate" default="30.0"/>
    <arg name="scene_file" default="$(find simulator_setup)/scenarios/empty.xml"/>

    <node name="pedsim_simulator" pkg="pedsim_simulator" type="pedsim_simulator" output="screen" if="$(arg enable_pedsim)">
        <param name="simulation_factor" value="$(arg simulation_factor)" type="double"/>
        <param name="pedsim_update_rate" value="$(arg pedsim_update_rate)" type="double"/>
        <param name="scene_file" value="$(arg scene_file)" type="string"/>
    </node>

    <!--
    <node pkg="pedsim_gazebo_plugin" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents"  output="screen">
    </node>-->

</launch>
