<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="model" default="turtlebot3_burger"/>
	<param name="robot_model" value="$(arg model)" />

  	<!-- Node to publish static scan (only based on robot position and map) -->
	<node name="light_scan_sim" pkg="light_scan_sim" type="light_scan_sim_node" output="screen">
		<param name="laser/topic" value="/static_scan" />
		<param name="laser/hz" value="20" />
		<param name="laser/noise" value="0.0" />
		<rosparam file="$(find all_in_one_planner)/light_scan_sim/scan_configs/$(arg model)_params.yaml" command="load" />
	</node>

	<!-- Launch aio node -->
	<node pkg="all_in_one_planner" type="all_in_one_node.py" name="all_in_one_planner" output="screen"/>

</launch>
