<!-- -->
<launch>
  <!-- Arguments -->
  <arg name="model" default="turtlebot3_burger"/>
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="/odom" />
  <!-- <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
  <remap from="odom" to="$(arg odom_topic)"/> -->

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find conventional)/config/carlike/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find conventional)/config/carlike/costmap_common_params.yaml" command="load" ns="local_costmap" />   
    <rosparam file="$(find conventional)/config/carlike/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find conventional)/config/carlike/global_costmap_params.yaml" command="load" />
    
    <!-- planner params --> 
    <!-- <rosparam file="$(find conventional)/config/diff_drive/base_local_planner_params.yaml" command="load" /> -->
    <rosparam file="$(find conventional)/config/carlike/mpc_local_planner_params.yaml" command="load"/>
		<!-- <rosparam file="$(find conventional)/config/diff_drive/costmap_converter_params.yaml" command="load" />  -->

    <!-- mpc -->
		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

		<param name="base_local_planner" value="mpc_local_planner/MpcLocalPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />

    <param name="clearing_rotation_allowed" value="false" /> 

  </node>
  



</launch>
