<launch>

 <!-- start task_generator node -->
  <arg name="disable_scenario"    default="true"/>
  <param name="train_mode" value="$(arg train_mode)" />
  <arg name="scenario_file"   default="empty_map.json"/>
  <arg name="reset"   default="true"/>
  <arg name="timeout"        default="3.0"/>
  <include file="$(find arena_bringup)/launch/sublaunch_testing/task_generator.launch" unless="$(eval arg('disable_scenario') or arg('train_mode'))">
   <arg name="scenarios_json_path"  value="$(find simulator_setup)/scenarios/$(arg scenario_file)"/>
   <arg name="auto_reset"           value="$(arg reset)"/>
   <arg name="timeout"              value="$(arg timeout)"/>
  </include>
</launch>