<launch>
  <!-- Controllers that come up started -->
  <node name="hand_controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="--timeout 120
              hand_current_limit_controller
              hand_controller" />

  <!-- Simple grasping action -->
  <node name="hand_grasping_action" pkg="simple_grasping_action" type="simple_grasping_action" output="screen">
    <param name="target_controller" value="hand_controller" />
  </node>
</launch>
