<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="ft_sensor"  default="schunk-ft"/>

    <!-- load wbc controller -->
    <group if="$(eval ft_sensor == 'schunk-ft')">
        <include file="$(find tiago_wbc)/launch/tiago_wbc.launch">
            <arg name="spawn" value="false"/>
            <arg name="stack" value="tiago_fixed_base_ft_wbc"/>
        </include>
    </group>
    <group if="$(eval ft_sensor != 'schunk-ft')">
        <include file="$(find tiago_wbc)/launch/tiago_wbc.launch">
            <arg name="spawn" value="false"/>
        </include>
    </group>
</launch>
