<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="arm"  default="True"/>
  <arg name="end_effector"  default="pal-hey5"/>
  <arg name="ft_sensor"  default="schunk-ft"/>
  <arg name="laser_model"  default="sick-571"/>
  <arg name="camera_model"  default="orbbec-astra"/>
  <arg name="base_type"  default="pmb2"/>
  <!-- Args are the ones that upload.launch requires-->
  <include file="$(find simulator_setup)/robot/tiago/robots/upload.launch">
    <arg name="arm"  value="$(arg arm)"/>
    <arg name="end_effector"  value="$(arg end_effector)"/>
    <arg name="ft_sensor"  value="$(arg ft_sensor)"/>
    <arg name="laser_model"  value="$(arg laser_model)"/>
    <arg name="camera_model"  value="$(arg camera_model)"/>
    <arg name="base_type"  value="$(arg base_type)"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" args="_use_gui:=True" />

  <node name="rviz" pkg="rviz" type="rviz"/>
</launch>
