<?xml version="1.0"?>
<!--

  Copyright (c) 2015, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--File includes-->
  <xacro:include filename="$(find simulator_setup)/robot/tiago/urdf/deg_to_rad.xacro" />

  <!--Constant parameters-->
  <xacro:property name="camera_position_x" value="0.0908" />
  <xacro:property name="camera_position_y" value="0.08" />
  <xacro:property name="camera_position_z" value="0.0" />
  <xacro:property name="camera_orientation_r" value="${-90 * deg_to_rad}" />
  <xacro:property name="camera_orientation_p" value="0.0" />
  <xacro:property name="camera_orientation_y" value="0.0" />
  <xacro:property name="arm_1_joint_offset" value="0.0" />
  <xacro:property name="arm_2_joint_offset" value="0.0" />
  <xacro:property name="arm_3_joint_offset" value="0.0" />
  <xacro:property name="arm_4_joint_offset" value="0.0" />
  <xacro:property name="arm_5_joint_offset" value="0.0" />
  <xacro:property name="arm_6_joint_offset" value="0.0" />
  <xacro:property name="arm_7_joint_offset" value="0.0" />
  <xacro:property name="head_1_joint_offset" value="0.0" />
  <xacro:property name="head_2_joint_offset" value="0.0" />

</robot>
