<?xml version="1.0"?>
<robot name="AGV-OTA" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find simulator_setup)/robot/agv-ota/urdf/agv_base.urdf.xacro"/>
	<xacro:include filename="$(find simulator_setup)/robot/agv-ota/urdf/inertia_tensors.urdf.xacro"/>	
	<xacro:include filename="$(find simulator_setup)/robot/agv-ota/urdf/agv_wheel.urdf.xacro"/>
	<xacro:include filename="$(find simulator_setup)/robot/agv-ota/urdf/agv_plugin.urdf.xacro"/>	
	<xacro:include filename="$(find simulator_setup)/robot/agv-ota/urdf/agv_caster.urdf.xacro"/>	
	<xacro:include filename="$(find simulator_setup)/robot/agv-ota/urdf/agv_ir.urdf.xacro"/> 	
	

	<xacro:agv_base />
	<xacro:agv_ir base_link="base_link" link_name="ir1" xyz_ir="0.505 0.215 -0.03" rpy_ir="0 0 0" />
	<xacro:agv_ir base_link="base_link" link_name="ir2" xyz_ir="0.20 0.355 -0.068" rpy_ir="0 0 1.570796" />
	<xacro:agv_ir base_link="base_link" link_name="ir3" xyz_ir="-0.20 0.355 -0.068" rpy_ir="0 0 1.570796" />
	<xacro:agv_ir base_link="base_link" link_name="ir4" xyz_ir="-0.505 0.215 -0.005" rpy_ir="0 0 3.14159" />
	<xacro:agv_ir base_link="base_link" link_name="ir5" xyz_ir="-0.505 -0.215 -0.005" rpy_ir="0 0 3.14159" />
	<xacro:agv_ir base_link="base_link" link_name="ir6" xyz_ir="-0.20 -0.355 -0.068" rpy_ir="0 0 -1.570796" />
	<xacro:agv_ir base_link="base_link" link_name="ir7" xyz_ir="0.20 -0.355 -0.068" rpy_ir="0 0 -1.570796" />
	<xacro:agv_ir base_link="base_link" link_name="ir8" xyz_ir="0.503 -0.215 -0.03" rpy_ir="0 0 0" />
	<xacro:agv_wheel xyz_hub="0 -0.30 -0.06" rpy_hub="0 0 0" side="left"/>
	<xacro:agv_wheel xyz_hub="0 0.30 -0.06" rpy_hub="0 0 0" side="right"/>

	<xacro:agv_swivel xyz_caster="0.37 -0.22 -0.048" rpy_caster="0 0 0" side="front_right"/>
	<xacro:agv_swivel xyz_caster="0.37 0.22 -0.048" rpy_caster="0 0 0" side="front_left"/>
	<xacro:agv_swivel xyz_caster="-0.37 -0.22 -0.048" rpy_caster="0 0 0" side="back_right"/>
	<xacro:agv_swivel xyz_caster="-0.37 0.22 -0.048" rpy_caster="0 0 0" side="back_left"/>

	<!-- Motor plugin -->
	<xacro:agv_diff_drive />

	<!-- Joints plugin -->
	<xacro:agv_joints_state_publisher />

	<!-- IMU Plugin-->
	<xacro:agv_imu />

</robot>
