<?xml version='1.0'?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="agv_base" >

    <link name='base_link'>
      <origin xyz="0 0 0" rpy=" 0 0 0"/>
      
      <visual>
        <origin xyz="0 0 -0.1625" rpy=" 0 0 0"/>
        <geometry>
          <mesh filename="package://simulator_setup/robot/agv-ota/meshes/OTAv07_meshes/OTA-v0.7.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>    
      
      <collision>
        <origin xyz="0 0 -0.075" rpy=" 0 0 0"/>
        <geometry>
          <!--<mesh filename="package://simulator_setup/robot/agv-ota/meshes/OTAv07_meshes/OTA-v0.7.stl" scale="0.001 0.001 0.001"/> -->
          <box size="1.02 0.72 0.14"/>
        </geometry>
      </collision>    
    
      <xacro:box_inertial x="1.02605" y="0.728"  z="0.3" mass="1.0" />
    </link>

    <gazebo reference="base_link">
      <material value="Gazebo/Orange"/>
    </gazebo>
    
    <!-- Laser -->
    <link name="scan_link">
      
      <visual>
        <origin xyz="0 0 0" rpy="1.570796 0 -1.570796"/>
        <geometry>
          <mesh filename="package://simulator_setup/robot/agv-ota/meshes/OTAv07_meshes/S30B-XXXXXX.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>		

      <!--<collision>
        <origin xyz="0 0 0.0" rpy="1.570796 0 -1.570796"/>
        <geometry>
          <mesh filename="package://simulator_setup/robot/agv-ota/meshes/OTAv07_meshes/S30B-XXXXXX.stl" scale="0.001 0.001 0.001"/> 
        </geometry>
      </collision>  -->
      
    </link>  

    <joint name="scan_joint" type="fixed">
      <origin xyz="0.42 0.0 0.01" rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="scan_link"/>	 
      <axis xyz="0 0 1"/>    
    </joint>       
    
    <gazebo reference="scan_link">
      <material value="Gazebo/DarkGray"/>
      <sensor type="ray" name="laser_scan">
      	<tf_prefix></tf_prefix>
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>40</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>720</samples>
              <resolution>1</resolution>
              <min_angle>-1.570796</min_angle>	<!-- -2.35619 -->
              <max_angle>1.570796</max_angle>	<!--  2.35619 -->
            </horizontal>
          </scan>
          <range>
            <min>0.10</min>
            <max>30.0</max>
            <resolution>0.03</resolution>
          </range>
          
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        
        <plugin name="laser_scan_plugin" filename="libgazebo_ros_laser.so">
            <topicName>scan</topicName>
            <frameName>scan_link</frameName>
            <tf_prefix>/</tf_prefix>
        </plugin>
      </sensor>
    </gazebo>  

    <!-- Zed Camera -->


    <link name="zed_camera">
      <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="package://simulator_setup/robot/agv-ota/meshes/OTAv07_meshes/zed.stl" />
          </geometry>
          <material name="black">
            <color rgba="1 1 1 1"/>
          </material>
      </visual>

     <!-- <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="package://simulator_setup/robot/agv-ota/meshes/OTAv07_meshes/ZED.stl" />
          </geometry>
          <material name="light_grey">
            <color rgba="0.8 0.8 0.8 0.8"/>
          </material>
      </collision> -->

    </link>

    <joint name="zed_camera_joint" type="fixed">
      <parent link="base_link"/>
      <child link="zed_camera"/>
      <origin xyz="0.49 0 0.175" rpy="0 0 0" />
    </joint>

    <gazebo reference="zed_camera">
      <sensor type="camera" name="camera">
        <update_rate>30.0</update_rate>
        <camera name="head">
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <!-- Noise is sampled independently per pixel on each frame.
                That pixel's noise value is added to each of its color
                channels, which at that point lie in the range [0,1]. -->
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>

        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>camera</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>zed_camera</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>

      </sensor>
    </gazebo>
    
    <!-- IMU Link -->
    <link name="imu_link"/>
    
    <joint name="imu_joint" type="fixed">
      <parent link="base_link"/>
      <child link="imu_link"/>
      <origin xyz="0.0 0 0.068" rpy="0 0 0"/>
    </joint>

  </xacro:macro>      
</robot>
