<?xml version="1.0"?>
<robot name="rto" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find simulator_setup)/robot/rto/urdf/components/rto_parts.urdf.xacro"/>
  <xacro:include filename="$(find simulator_setup)/robot/rto/urdf/components/rto_body.urdf.xacro"/>
  <xacro:rto_body/>
</robot>
