<launch>
  <arg name="world" default="turtlebot3_house"  doc = "world type [turtlebot3_house, small_warehouse, aws_house, outside]" />
  <arg name="model" default="turtlebot3_burger"            doc = "model type [turtlebot3_burger, waffle]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>


  <!-- start World (Scenario) file in Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find simulator_setup)/worlds/$(arg world)/worlds/$(arg world).world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/> <!-- change here to run only the server (gzserver) (to false)-->
    <arg name="headless" value="false"/> <!-- change here to run only the server (gzserver) (to true)-->
    <arg name="debug" value="false"/>
    <arg name="verbose" value="true"/> <!-- true to see gazebo error msgs-->
  </include>

</launch>