<launch>
  <arg name="world" default="turtlebot3_house" />
  <arg name="model" default="turtlebot3_burger"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="headless" default="false"/>
  <arg name="gui" default="true"/> 


  <!-- start World (Scenario) file in Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find simulator_setup)/worlds/$(arg world)/worlds/$(arg world).world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="true"/> <!-- true to see gazebo error msgs-->
    <arg name="gui" value="$(arg gui)"/>     <!-- change here to run only the server (gzserver) (to false) -->
    <arg name="headless" value="$(arg headless)"/>  <!-- change here to run only the server (gzserver) (to true)-->
  </include>

</launch>
