<launch>
  
    <!-- obst vel -->
	<arg name="v_lin" default="0.3"/><!--The default is not necessarily true (by Elias)-->
    <arg name="v_ang" default="0.1"/>
    <!-- use static map -->
    <arg name="usm" default="true"/>

    <!-- Launch neural net ros wrapper -->
    <node pkg="sensor_simulator" type="sensorsim_node_tmgr.py" name="sensorsim_node" output="screen" ns="/sensorsim"/>

</launch>