
<launch>
<!--/home/elias/catkin_ws/src/arena-rosnav-3D/arena_navigation/arena_local_planer/learning_based/arena_local_planner_drl/configs/training_curriculum_map1small.yaml-->
    <arg name="scenarios_json_path" default="$(find simulator_setup)/scenarios/empty_map.json"/>

    <arg name="auto_reset" default="true" />
    <arg name="task_mode" default="scenario"  doc="task_mode type [scenario, random, manual, staged]"/>
    <arg name="delta" default="1.0"/>
    <arg name="timeout" default="2.0"/>     <!--  ************** minute  ***************  -->
    <!--  ************** task generator  ***************  -->
    <node pkg="task_generator" name="task_generator_node" type="task_generator_node.py" output="screen">
        <param name="scenarios_json_path" value="$(arg scenarios_json_path)"/>
        <param name="auto_reset" value="$(arg auto_reset )" />
        <param name="task_mode" value="$(arg task_mode)"/>
       <param name="delta" value="$(arg delta)"/>
        <param name="timeout" value="$(arg timeout)"/>
    </node>

<!--
    <node pkg="pedsim_gazebo_plugin" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents"  output="screen"/>-->
</launch>