<?xml version="1.0"?>
<!--
  Copyright (c) 2021, PAL Robotics, S.L.
  All rights reserved.
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="base_rgbd_z" value="0.535"/>
  <xacro:property name="base_rgbd_R" value="-0.171709"/>
  <xacro:property name="base_rgbd_P" value="60"/>
  <xacro:property name="roof_rgbd_z" value="0.470428"/>
  <xacro:property name="roof_rgbd_R" value="-0.299256"/>
  <xacro:property name="roof_rgbd_P" value="12"/>
</robot>
