
<launch>
  <arg name="ns"/>

    <!--args for simulation-->
    <arg name="world" default="turtlebot3_house"/>
    <arg name="model" default="burger"/>


      <!-- start World (Scenario) file in Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find simulator_setup)/worlds/$(arg world).world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/><!--maybe change later!-->
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <remap from="/clock" to="/$(arg ns)/clock"/>
  </include>


</launch>