<?xml version="1.0"?>
<!--

  Copyright (c) 2011-2014, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Wheel transmission -->
  <xacro:macro name="wheel_transmission" params="side">
    <transmission name="wheel_${side}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="wheel_${side}_motor" >
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="wheel_${side}_joint" >
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/JointStateInterface</hardwareInterface>
      </joint>
    </transmission>
  </xacro:macro>

</robot>
